<div class="form-actions">
    <div class="row">
        {{ form_widget(formElement, {
            "attr": {
                "class": "btn green pull-right"
            }
        }
        ) }}
    </div>
</div>