<div class="form-group">
    <label class="col-md-3 control-label" for="name">{{ label }}</label>
    <div class="col-md-9">
        <span class="badge {% if badge is defined %} {{ badge }} {% else %} badge-primary {% endif %}">
            {{ value }}
        </span>
    </div>
</div>