<div class="header">
    <div class="container">
        <a class="scroll site-logo" style="font-size: 20px; font-family: 'PT Sans Narrow', Arial, sans-serif; font-weight: bold" href="{{ path("_front") }}">
            <img src="" width="5%;" style="margin-top: -3%" alt="logo">
            Game Where You Are The Hero
            <span style="color: black">
                Builder
            </span>
        </a>
    </div>
</div>