<div class="alert alert-success">
    <strong>
        {% if flashTitle is defined %}
            {{ flashTitle }}
        {% else %}
            Success !
        {% endif %}
    </strong>
    {{ flashMessage }}
</div>