<div class="alert alert-warning">
    <strong>
        {% if flashTitle is defined %}
            {{ flashTitle }}
        {% else %}
            Warning !
        {% endif %}
    </strong>
    {{ flashMessage }}
</div>