{% extends '::back.html.twig' %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        {% include '::components/common/notification/success.html.twig' %}
    {% endfor %}
    {{ form_start(form,
        {
            "attr" : {
                "class": "form-horizontal",
                "role": "form"
            }
        }
    ) }}
    <div class="form-body">
        {% include "::components/common/form/form-group.html.twig" with {"formElement": form.name, "placeholder": "Adventure's name"} %}
        {% include "::components/common/form/form-group.html.twig" with {"formElement": form.description, "placeholder": "Adventure's description"} %}
        {% include "::components/common/form/form-group-save.html.twig" with {"formElement": form.save, "placeholder": "Adventure's description"} %}
    </div>
    {{ form_end(form) }}
{% endblock %}